@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share style */
.display-flex {
  display: flex;
}
.text-dark3 {
  color: #727272;
}
.text-dark2 {
  color: #424242;
}
.text-dark1 {
  color: #131313;
}
.primary-color {
  color: #ff900e;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
  font-size: 1.2rem;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  margin: 0 auto;
  max-width: 1440px;
}

/* banner style */

.banner-content {
  margin: 0 auto;
  max-width: 865px;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}
/* team style */

#teams {
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 550px;
  margin-left: 130px;
}
.features-describtion {
  font-size: 1rem;
}
#quick-list {
  font-weight: 500;
}

/* fact styling */
.fact-contaner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}
.fact{
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  width: 245px;
  height: 245px;
  justify-content: center;
  align-items: center;
}

.fact-number{
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.3rem;
  font-weight: 600;
}
.fact-describtion{
  max-width: 545px;
  margin-top: 25px;
  margin-bottom: 100px;
  font-size: 1rem;
}













/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  #teams {
    flex-direction: column;
  }
  .teams-img-container,.fact-contaner {
    grid-template-columns:  1fr;
  }
  .fact-contaner{
    justify-content: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 20px;
  }
}
/* medium device */

@media screen and (min-width:576px) and (max-width:992px){
  #teams{
    flex-direction: column;
  }
  .fact-contaner {
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .fact{
    margin: 0 auto;
  }
  .our-features{
    margin: 50px auto;
  }
}
